@font-face {
  src: url(./assets/wondermail.ttf);
  font-family: Wondermail;
  font-weight: 400;
}

:root {
  font-family: Wondermail;
  font-size: 1.5em;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}